<!doctype html>
<head>
  <title>MexPub Demo</title>
  <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/sticky-footer.css"> -->
  <link rel="stylesheet" type="text/css" href="static/style.css"/>
  <script src="static/jquery-3.4.1.min.js"></script>
  <script src="static/jquery.autocomplete.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega@5.3.5"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-lite@3.2.1"></script>
  <script src="https://cdn.jsdelivr.net/npm/vega-embed@4.0.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/@gjmcn/vizsla@0/dist/index.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="static/mexpub.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-21293169-6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'UA-21293169-6');
  </script>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-light navbar-expand">
      <div class="container">
        <div class="navbar-nav">
          
          <span class="navbar-brand" href="#">MexPub 
            <span id="tagline">Metadata Extraction from Publications</span>
          </span>

          <form class="form-inline" id="upload-file" method="post" enctype="multipart/form-data">
            <div class="input group">  
              <div class="custom-file">
                <label class="custom-file-label" for="file">Select a file</label>
                <input class="custom-file-input" name="file" type="file" id="inputFile">
                <div class="invalid-feedback">
                  <div>Invalid Value</div>
                </div>
              </div>
            </div>
            <button class="btn btn-outline-primary geekyBtn" id="upload-file-btn" type="button">Predict</button>
          </form>
        </div>
      </div>
    </nav>

    <!-- main content -->
    <!-- <div id="loader" style="display: none;"></div> -->
    <div class="overlay"></div>
    <div class="geekyContainer" id="main-panel">
      <div id="loader" style="display: none;"></div>

      <!-- <h5><span id="name"><span id="file_name"></span></span></h5> -->
      <!-- <div class="description"><p id="displayfilename">A project by team Geeky. <br/>
        Please upload a PDF document above to try out MexPub!</p></div> -->
      <div class="row">

        <!-- image -->
        <div class="col-md-4">
           <!-- <img id="img" src="./static/placeholder.png"> -->
           <img id="img" src="">
        </div>

        <!-- prediction visualization -->
        <div class="col-md-8" id="prediction-panel">

          <!-- tabs -->
          <ul class="nav nav-tabs" id="predictionTabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="plaintext-tab" data-toggle="tab" href="#plaintext" role="tab" aria-controls="plaintext" aria-selected="true">Plain Text</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="json-tab" data-toggle="tab" href="#json" role="tab" aria-controls="json" aria-selected="false">JSON</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" id="bibtex-tab" data-toggle="tab" href="#bibtex" role="tab" aria-controls="bibtex" aria-selected="false">BibTex</a>
            </li> -->
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="plaintext" role="tabpanel" aria-labelledby="plaintext-tab">
              
              <div id="titledata">
                <div class="prediction-wrapper" id="title-wrapper">
                  <div class="prediction-category" id="title-label">Title:</div>
                  <span id="title-prediction" class="prediction float-right"></span>
                </div>  
              </div>

              <div id="author">
                <div class="prediction-wrapper" id="author-wrapper">
                  <div class="prediction-category" id="author-label">Author:</div>
                  <span id="author-prediction" class="prediction float-right"></span>
                </div>  
              </div>

              <div id="journal">
                <div class="prediction-wrapper" id="journal-wrapper">
                  <div class="prediction-category" id="journal-label">Journal:</div>
                  <span id="journal-prediction" class="prediction float-right"></span>
                </div>  
              </div>

              <div id="date">
                <div class="prediction-wrapper" id="date-wrapper">
                  <div class="prediction-category" id="date-label">Date:</div>
                  <span id="date-prediction" class="prediction"></span>
                </div>  
              </div>

              <div id="affiliation">
                <div class="prediction-wrapper" id="affiliation-wrapper">
                  <div class="prediction-category" id="affiliation-label">Affiliation:</div>
                  <span id="affiliation-prediction" class="prediction"></span>
                </div>  
              </div>

              <div id="email">
                <div class="prediction-wrapper" id="email-wrapper">
                  <div class="prediction-category" id="email-label">Email:</div>
                  <span id="email-prediction" class="prediction"></span>
                </div>  
              </div>

              <div id="address">
                <div class="prediction-wrapper" id="address-wrapper">
                  <div class="prediction-category" id="address-label">Address:</div>
                  <span id="address-prediction" class="prediction"></span>
                </div> 
              </div>

              <div id="doi">
                <div class="prediction-wrapper" id="doi-wrapper">
                  <div class="prediction-category" id="doi-label">DOI:</div>
                  <span id="doi-prediction" class="prediction"></span>
                </div>
              </div>

              <div id="abstract">
                <div class="prediction-wrapper" id="abstract-wrapper">
                  <div class="prediction-category" id="abstract-label">Abstract:</div>
                  <span id="abstract-prediction" class="prediction"></span>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="json" role="tabpanel" aria-labelledby="json-tab">
              <pre id="output"></pre>
          </div>
          </div>

        </div>

      </div>
      

    </div>

    <!-- Footer -->
    <footer class="footer">
      <div class="row">
        <div class="col-12 col-md-12"  id="about">
          <p>
            MexPub is a deep learning system that extracts metadata from PDF documents of scientific publications. Please note that this web demo uses a CPU to make inferences on a given PDF, which can take a few seconds. For faster inference (i.e., less than 100ms), the predictor can be called usinig a GPU. To learn more, please see our <a href="https://github.com/nbeili/Metadata-extraction-from-German-scientific-papers">open-source Python code-base</a>
          </p>
          <p>
            This web demo was created by Team Geeky as part of the Machine Learning Application Research Lab at University Koblenz Landau. The research leading to MexPub was carried out by Nada Beili, Arslan Zafar, Prantik Goswami, and Timo Hartmann. The project was supervised by Dr. Zeyd Boukhers.
          </p>
        </div>
      </div>
      <!-- <div>
        <span class="text-muted">© 2020 Copyright: Geeky</span>
      </div> -->
    </footer>
    <!-- Footer -->
   
</body>