.navbar {
	background-color: #e3f2fd;
	height: 90px;
}

.geekyContainer{
	width: 90%;
	margin: 0 auto;
    margin-top: 20px;
}

.tab-content{
	max-height: 80%;
    overflow-y: auto;
}
.navbar-brand {
	font-size: 28px;
}

#tagline {
	font-size: 0.80em;
}

#main-panel {
	margin-top: 24px;
}

#img {
	width: 90%;
	height: 90%;
	border-radius: 3px;
	margin: 10px 15px 15px 0;
	border: 1px solid black;
}

#screen_name {
	font-size: 0.9em;
}

#title {
	margin-top: 10px;
}

#prediction-panel {
	padding-left: 0;
}

.prediction {
	font-weight: 700;
	font-size: 1.05;
	width: 370;
	float: right;
	text-align: right;
	padding-bottom: 5px;
	padding-top: 20px;
	padding-right: 10px;
	max-width: 82%;
}

.prediction-wrapper {
	clear: both;
}

.prediction-category {
	width: 80px;
	text-align: right;
	display: inline-block;;
	padding-bottom: 5px;
	padding-top: 20px;
}

.metadata-wrapper {
	width: 370px;
}

.vega-embed {
	padding-right: 0
}

#about {
	margin-top: 5px;
	padding: 10px;
	/*border-top: 0.5px solid #AAA;*/
}


#titledata, #author, #journal, #date, #affiliation, #email, #address, #doi, #abstract {
	display: none;
}


.row{
	width:100%;
}


body.loading{

    overflow: hidden;   

}

/* Make spinner image visible when body element has the loading class */

body.loading .overlay{

    display: block;

}

.geekyBtn {
	margin-left: 40px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
    line-height: 31px;
    background-color: #f5f5f5;
    text-align: center;
    padding-left: 10px;
}

.text-muted {
    color: #6c757d!important;
}

.custom-file-inputcustom-file-input{
	border-color: #dc3545;
}

.description{
	margin-top: -15px;
}

.blurBackground{
	filter: blur(3px);
  }

.unBlur{
	filter: blur(0px);
}


#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

  .custom-file-label-highlight{
	border-color: #dc3545;
  }